/* Font Raleway from google font */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');

/* width */
::-webkit-scrollbar {
	width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
	background:#fbf3dd;
	border-radius:10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
	background: #fdc47d; 
	border-radius:10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #D4654E; 
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
	body{
		overflow:auto;
		background-image: url("../img/Doodle Money.png");
		background-repeat: repeat;
		background-size: 40vw;
		background-position:center;		
	}
  
	main{
		width:100%;
		display:flex;
		flex-direction:column;
	}
  
	main #input-section{
		display:flex;
		flex-direction:column;
		align-items:center;
		background:#ffffff;	
		padding-top:30px;
		padding-bottom:60px;
		width:100%;
	}
 
	#result-section{
		display:block;
		overflow-x: hidden;	
		width:100%;
	} 
	 
}


html,body{
	height: 100vh
	width: 100vw;
	font-family: 'Montserrat', sans-serif;	
}


body{
	background-image: url("../img/handBill.png"),url("../img/building-split-bill.png"),url("../img/Doodle Money.png");
	background-repeat: no-repeat,no-repeat,repeat;
	background-size: 25vw,50vw,40vw;
	background-position:-8vw 50vh,60vw 23vh,center;
	margin:0;
	overflow:hidden;
	display:flex;
	justify-content:center;
	align-items:center;
	animation:backgroundAnim 1s ease-out;
}

@keyframes backgroundAnim{
	0%{
		background-position:-28vw 50vh,100vw 23vh,center;
	}
	100%{
		background-position:-8vw 50vh,60vw 23vh,center;
	}
}

main{
	display:flex;
	justify-content:center;
	height:75%;
	width:80%;
}

/* Input Form Part */
main #input-section{
	display:flex;
	flex-direction:column;
	align-items:center;
	background:#ffffff;	
	border-radius:25px;
	box-shadow:0px 0px 50px 0px rgba(0,0,0,0.14);
	padding-top:30px;
	padding-bottom:60px;
	width:30%;
	transition:all 1s;
	transform:translateX(120%);
}

main #input-section #logo{
	height:30%;
	margin-bottom:10px;
}

main #input-section .input-form{
	width:100%;
	height:20%;
	display:flex;
	flex-direction:column;
	align-items:center;
	margin-bottom:10px;
}

main #input-section .input-form .label,.input{
	width:75%;
	font-family: 'Montserrat', sans-serif;
	margin-top:0px;
	font-size:1vw;
	color:#565757;
}

main #input-section .input-form .label{
	padding-left:20px;
	margin-bottom:10px;
}

main #input-section .input-form .input{
	background:#ffe8d6;
	border:0px;
	border-radius:11px;
	height:3rem;
	padding-left:12px;
}

main #input-section .input-form .input:focus{
	outline:none;
}

main #input-section .form-button{
	background:#ff971d;
	border:0px;
	border-radius:25px;
	padding:1vw;
	font-size:1vw;
	color:white;
	height:3rem;
	margin-bottom:10px;
	width:75%;
	height:10%;
	transition:.2s background;
}

main #input-section .form-button:hover{
  background:#FFAD4F;
}

main #input-section .form-button:focus{
  outline:none !important;
}

main #input-section .form-button:active {
  outline: none !important;
  background:#E68619;
}

.emptyAlert{
	animation:emptyInput 1s;
}

@keyframes emptyInput{
	0%{
		box-shadow: 0px 0px 0px #ffffff
	}
	25%{
		box-shadow: 0px 0px 10px rgba(227,74,25,0.8)
	}
	75%{
		box-shadow: 0px 0px 10px rgba(227,74,25,0.8)
	}	
	100%{
		box-shadow: 0px 0px 0px #ffffff
	}
}

#reminder{
	opacity:0;
	font-size:medium;
	color:#575656;
	align-self:flex-start;
	margin-left:3rem;
}

.reminder{
	animation: reminderAppear 1s ease forwards;	
}

@keyframes reminderAppear{
	0%{
		opacity:0;
	}
	100%{
		opacity:1;
	}
}


/* End Input Form Part */


/* Card */
#result-section{
	display:block;
	overflow-y: auto;
	overflow-x: hidden;	
	width:70%;
	padding-left:2rem;
}

#listOfPeople{
	padding-top:1rem;
	padding-bottom:1rem;
	display:flex;
	flex-wrap:wrap;
	flex-grow:0;
	align-items:flex-start;
}

.card{
	background:#fafafa;
	border-radius: 10px;
	box-shadow:0px 0px 50px 0px rgba(0,0,0,0.14);
	display:flex;
	flex-direction:column;
	margin:0px 1rem 1rem 1rem;
	padding: 1rem;
	animation: cardOpening 1s ease;
}

@keyframes cardOpening{
	0%{
		transform: translateX(300px);
	}
	100%{
		transform: translateX(0px);
	}
}

.card .card-name{
	color:#949494;
	font-size:1rem;
	margin-bottom:.5rem;
	background:transparent;
	border-style: none
}

.card .card-price{
	color:#565757;
	font-size:1rem;
	margin-bottom:.5rem;
	background:transparent;	
	border-style: none;
}

.card .card-name:focus {
  outline: none !important;
}

.card .card-price:focus {
  outline: none !important;
}

.card .card-button{
	background:#ff971d;
	font-size:1rem;
	color:white;
	border:0px;
	border-radius: 20px;
	color:#fafafa;
	margin-bottom:.5rem;
	padding:5px 0px 5px 0px;
	transition:.2s background;
}

.card .card-button:hover{
	background:#FFAD4F;
}

.card .card-button:focus{
  outline:none !important;
}

.card .card-button:active {
  outline: none !important;
  background:#E68619;
}