@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

body{
	min-height: 100vh !important;
	margin: 0px !important; 
	padding: 0px !important;
	font-family: 'Inter', sans-serif;
	background: url("Doodle Money.png");
	background-repeat:repeat;
	background-size:40%;
	display:flex;
	flex-direction:column;
	align-items:center;
	justify-content:center;
}


main{
	display:flex;
	flex-direction:column;
	background:#fafafa;
	max-width: 600px;
	padding: 2rem;
	background-image: url("paper-texture.png");
	background-repeat: repeat;
}

#note{
	color:#575656;
}

#gen-container{
	display:flex;
	justify-content:center;
	margin-top: 1rem;
	margin-bottom:1rem;
	max-width:600px;
	
}

#gen{
	background:#575656;
	border:0px;
	border-radius: 20px;
	color:#fafafa;
	width:400px;
	padding:1rem;
}

#gen:hover{
	background:#706F6F;
}

#gen:focus{
  outline:none !important;
}

#gen:active {
  outline: none !important;
  background:#3D3D3D;
}

@media only screen and (min-width: 600px) {
	main{
		margin:2rem;
	}
}

#logo{
	width: 100%;
	margin-bottom:2rem;
}

hr{
  border-top: 5px solid #ff971d;
  margin:0rem 0px 2rem 0px;
  
}

.section{
	margin:5px 0px 5px 0px;
	display:flex;
	flex-direction:row;
	justify-content:space-between;
}
.section h2{
	color:#575656;
	margin:0px;
	padding:0px;
}

.gracias{
	align-self:center;
	color:#575656;
}